<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="/Home/Ejemplo_ViewBagViewData">Ejemplo ViewBag ViewData</a>
    </div>
    <div>
        <a href="/Home/Ejemplo_TempData">Ejemplo TempData</a>
    </div>
    <div>
        <a href="/Home/Ejemplo_ViewModel">Ejemplo ViewModel</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
