
@{
    ViewBag.Title = "TablaGeneral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TablaGeneral</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Lugar Almacenamiento</th>
        <th>Valor</th>
    </tr>

    <tr>
        <td>SeriesRecomendadas</td>
        <td>Session</td>
        <td>
            @foreach (Entidades.Serie serie in Clase_Pasaje_de_datos.Helpers.SessionHelper.SeriesRecomendadas)
            {

                <div><strong>Nombre:</strong> @serie.Nombre</div>
                <div>
                    <strong>Plataformas:</strong>
                    @foreach (var plataforma in serie.Plataformas)
                    {
                        <span>@plataforma.ToString()</span>
                    }
                </div>
                <br />
                <br />
            }

        </td>
    </tr>
    <tr>
        <td>Series Favoritas</td>
        <td>Session</td>
        <td>
            @foreach (string serie in Clase_Pasaje_de_datos.Helpers.SessionHelper.MisSeriesFavoritas)
            {

                <div><strong>Nombre:</strong> @serie</div>
                <br />
                <br />
            }

        </td>
    </tr>
    <tr>
        <td>Paginas visitadas</td>
        <td>Cookies</td>
        <td>
            @foreach (string pagina in Clase_Pasaje_de_datos.Helpers.CookiesHelper.ObtenerPaginasVisitadas())
            {

                <div>
                    @pagina
                </div>
                <br />
                <br />
            }

        </td>
    </tr>


</table>

